html {
  scroll-behavior: smooth;
}

button {
  transition: all 0.3s ease;
}

.card-hover:hover {
  transform: translateY(-6px);
}
body {
  -webkit-user-select: none; /* Chrome, Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
  user-select: none;         /* Standard */
}

